body{
    font-weight: 500;
    font-size: 16px;
}

.header img{
    height: 49.750px;
    width: 121px;
}

.header{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: #011423;
    display: inline-block;
    font: 14px Inter, sans-serif;
}

select{
    border-style: none;
    font: 14px Inter, sans-serif;
}

#brands:hover{
    border-image-source: url("//procabinetsupply.com/cdn/shop/files/logo-horizonatal-tagline.png?v=1655210464");
}

ul{
    list-style: none;
    display: flex;
    gap: 46px;
}

ul li{
    display: inline-block;
}